{% extends "base.html" %} {% block title %}ICE_TES Support{% endblock%}

{% block content %} 
<h2>ICE_TES Support</h2>
<br>

<a href=gp_android ><button type="button" class="btn btn-primary">GP Android</button></a><br><br>
<a href=gp_yocto ><button type="button" class="btn btn-primary">GP Yocto</button></a><br><br>
<a href=time ><button type="button" class="btn btn-primary">TIME:TSN/TCC</button></a><br><br>
<a href=fusa ><button type="button" class="btn btn-primary">FuSa</button></a><br><br>
<a href=sriov ><button type="button" class="btn btn-primary">SR-IOV</button></a><br><br>
<a href=ipu ><button type="button" class="btn btn-primary">IPU6 Camera</button></a><br><br>
<a href=inb ><button type="button" class="btn btn-primary">In-Band Manageability</button></a><br><br>
<a href=ice ><button type="button" class="btn btn-primary">ICE Demo Portal</button></a><br><br>
<a href=ips ><button type="button" class="btn btn-primary">IPS Issue</button></a><br><br>


{% endblock %}


