<!-- <!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Title</td>
            <td>Summary</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["title"]}}</td>
               <td>{{row["summary"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/home">Go back to home page</a>
   </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
	table, td, th {
  background: lightblue;
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
</style>
<body>

   <table>
      <thead>
         <tr>
            <th>Title</th>
            <th>Summary</th>
         </tr>
      </thead>

      <tbody>
         {% for row in project %}
         <tr>
            <td>{{ row.title }}</td>
            <td>{{ row.summary }}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>


</body>
</html>