{% extends "base.html" %} {% block title %}TIM:TSN/TCC{% endblock%}

{% block content %}
<form method="POST">
        <h3 align="center">TIME:TSN/TCC</h2>

        <button type=button class="btn btn-secondary">Add New Task</button><br><br>
        <button type=button class="btn btn-secondary">Add New Document</button><br><br>
	
	<label for="username" >Username</label>
	<input type="username" id="username" name='username' placeholder='Username'><br>

	<button type="button" id="btn1" onclick="myfunc()">Submit</button><br><br>
	<form onsubmit="myfunc()">
  		Enter name: <input type="text" name="fname">
  		<input type="submit" value="Submit">
	</form>

<!-- SOURCE TEMPLATE -->
<template id="source">
  <tr>
    <td class="cellA"></td>
    <td class="cellB"></td>
  </tr>
</template>

<!-- DESTINATION TABLE -->
<table id="destination">
  <tr>
    <td class="cellA">Foo</td>
    <td class="cellB">Bar</td>
  </tr>
</table>

<!-- JAVASCRIPT -->
<script>
  // Get the source + destination
  var source = document.getElementById("source");
  var destination = document.getElementById("destination");
 
  // Append rows by cloning the template
  for (let i=1; i<=5; i++) {
    let clonerow = document.importNode(source.content, true);
    let clonecells = clonerow.querySelectorAll("td");
    clonecells[0].innerHTML = "Cloned row" + i;
    clonecells[1].innerHTML = "HI!";
    destination.appendChild(clonerow);
  }


function myfunc() {

	var mystr = document.getElementById("username").value;
	alert(mystr)
}

</script>
</form>
{% endblock %}

